<form method="post" name="app_procuration_proposal">
    {{ form_errors(form) }}

    <div>
        <h4>Informations personnelles 1/3</h4>

        {{ dump(assessorRequest) }}

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row l__row--h-stretch b__nudge--bottom-tiny">
                {{ form_label(form.gender, 'Sexe') }}
                {{ form_widget(form.gender, { attr: { class: 'register__form__gender b__nudge--bottom-small' } }) }}
                {{ form_errors(form.gender) }}
            </div>
            <div class="register__form--mid">
                {{ form_label(form.firstName, 'Prénom') }}
                {{ form_widget(form.firstName, { attr: { placeholder: 'Votre prénom' } }) }}
                {{ form_errors(form.firstName) }}
            </div>

        </div>
        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="register__form--mid">
                {{ form_label(form.lastName, 'Nom') }}
                {{ form_widget(form.lastName, { attr: { placeholder: 'Nom' } }) }}
                {{ form_errors(form.lastName) }}
            </div>
            <div class="register__form--mid">
                {{ form_label(form.birthName, 'Nom de naissance') }}
                {{ form_widget(form.birthName, { attr: { placeholder: 'Nom de naissance' } }) }}
                {{ form_errors(form.birthName) }}
            </div>
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="l__row l__row--h-stretch register__form--full">
                {{ form_label(form.address, 'Adresse') }}
                {{ form_widget(form.address, { attr: { placeholder: 'Votre adresse' } }) }}
                {{ form_errors(form.address) }}
            </div>
            <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
                {{ form_label(form.postalCode, 'Code postal') }}
                <div id="vote-row-postal-code" class="register__form__zip_code register__form--third">
                    {{ form_widget(form.postalCode, { attr: { placeholder: 'Votre code postal' } }) }}
                </div>

                <div class="register__form__city register__form--third">
                    {{ form_label(form.city, 'Ville') }}
                    {{ form_widget(form.city, { attr: { class: 'register__form__city', placeholder: 'Ville' } }) }}
                    {{ form_errors(form.city) }}
                </div>
            </div>
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="register__form--mid">
                {{ form_label(form.voteCity, 'Ville') }}
                {{ form_widget(form.voteCity, { attr: { placeholder: 'Ville où vous voter' } }) }}
                {{ form_errors(form.voteCity) }}
            </div>
            <div class="register__form--mid">
                {{ form_label(form.officeNumber, 'N° bureau de vote') }}
                {{ form_widget(form.officeNumber, { attr: { placeholder: 'N° bureau de vote' } }) }}
                {{ form_errors(form.officeNumber) }}
            </div>
        </div>

        <div class="l__row l__row--h-stretch register__form--full">
            {{ form_label(form.emailAddress, 'Adresse e-mail') }}
            {{ form_widget(form.emailAddress, { attr: { placeholder: 'Adresse e-mail' } }) }}
            {{ form_errors(form.emailAddress) }}
        </div>

        <div class="l__row l__row--top l__row--h-stretch l__mobile--col">
            <div class="register__form--mid">
                {{ form_label(form.birthdate, 'Date de naissance') }}
                {% for field in form.birthdate|reverse %}
                    {{ form_widget(field, { attr: { style: 'width: 32%;' } }) }}
                {% endfor %}
            </div>
            <div class="register__form--mid">
                {{ form_label(form.birthCity, 'Lieu de naissance') }}
                {{ form_widget(form.birthCity, { attr: { placeholder: 'Votre lieu de naissance' } }) }}
                {{ form_errors(form.birthCity) }}
            </div>
            {{ form_errors(form.birthCity) }}
        </div>

        <div class="l__col l__col--top register__form__phone">
            {{ form_label(form.phone, 'Téléphone') }}
            <div class="l__row l__row--top l__row--h-stretch">
                {{ form_widget(form.phone.country, { attr: { class: 'membership_request__form__phone' } }) }}
                {{ form_widget(form.phone.number, { attr: { placeholder: 'Téléphone' } }) }}
            </div>
            {{ form_errors(form.phone) }}
        </div>
    </div>

    <div class="text--center b__nudge--top-large">
        {{ form_widget(form.fill_personal_info, { attr: {class: 'btn btn--blue'}}) }}
    </div>

    {{ form_end(form) }}
</form>
